h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:rgb(83, 147, 172);
    text-align: center; 
    text-decoration: underline
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align:none; 
    background-color: rgb(86, 175, 179); 
    border-collapse: collapse; 
    border: 2px solid navy
  }
  table.inner{
    border: 0px
  }
  body{
      background: linear-gradient(120deg,rgb(96, 223, 96),pink,rgb(240, 240, 136));
  }