
       body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background-image: url("337608.jpg");
        
        height: 100vh;

    }
    .center{
        position: absolute;
        top: 38%;
        left: 38%;
        transform: translate(-50%,-50%,);
        width: 400px;
        /* background: linear-gradient(50deg,rgb(154, 217, 241),lightblue,rgb(161, 236, 161),lightgreen); */
        background-color:rgba(192,192,192,0.7);
        border: 4px solid white;
        border-radius: 10px;
        text-align: center; 
        align-items: center;
        color: white;
        font-weight: 800;
    }
    .name{
        top: 32%;
        left: 32%;
        transform: translate(-50%,-50%,);
        width: 500px;
        padding: 10px;
        border: 4px solid white;
        background-color:rgba(192,192,192,0.7);
        color: white;
        border-radius: 10px;
        text-align: center; position: relative; top: 50px;
    }
    input[type="submit"]{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
    }
    input[type="submit"]:hover{
        border-color:#2691d9 ;
        transition: .5s;
    }
    input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; 
    }
    